{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre Contable - Software Contable TAS</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cierreContable.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<body>
    {% include 'includes/navbar.html' %}
    
    <section id="alert">
        <div id="data">
            <p id="alert-txt"></p>
            <button type="button" id="alert-btn">Ok</button>
        </div>
    </section>
    
    <main class="cierre-contable-container">
        <h2 class="section-title">Cierre Contable</h2>

        <div class="table-container">
            <div class="form-group">
                <label for="mes">Mes de Cierre</label>
                <input type="month" id="fecha" name="mes">
            </div>

            <table class="cierre-contable-table">
                <thead>
                    <tr>
                        <th>Resumen de Cuentas</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Activos</td>
                        <td id="totalActivos">$0.00</td>
                    </tr>
                    <tr>
                        <td>Total Pasivos</td>
                        <td id="totalPasivos">$0.00</td>
                    </tr>
                    <tr>
                        <td>Patrimonio Neto</td>
                        <td id="patrimonio">$0.00</td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <button class="btn-primary">Iniciar Cierre</button>
                <button class="btn-reiniciar">Reiniciar Valores</button>
            </div>
        </div>
    </main>
    
    <script src="{% static 'js/cierreContable.js' %}"></script>
</body>

</html>
