<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacciones</title>
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <link rel="stylesheet" href="../static/css/costosSoftware.css">
</head>

<body>
    <!-- Sidebar Comienzo -->
    <section id="sidebar">
        <div class="toggle-button">
            <span class="activate">&#9776;</span>
            <span class="deactivate">&#9668;</span>
        </div>
        <ul>
            <!-- COLOCAR DISPLAY:NONE A LA OPCION QUE NO SE DEBE USAR -->
            <li><img src="../static/img/logo.webp" alt="logo"></li>
            <li class="home-button">Home</li>
            <li class="transacciones-button" style="display: none;">Transacciones</li>
            <li class="costos-button">Control de Costos</li>
            <li class="catalogo-button">Catalogo de Cuentas</li>
            <li class="libro-button">Libro Mayor</li>
            <li class="estados-button">Estados Financieros</li>
            <li class="cierre-button">Cierre Contable</li>
            <li class="cerrar-sesion">Cerrar Sesion</li>
        </ul>
    </section>
    <header class="container-header">
        <div class="content-header">
            <h1 class="title">Software Contable TAS</h1>
        </div>
    </header>

    <main class="container">
        <button class="add-btn" onclick="openDepartmentsModal()">Seleccionar Departamentos</button>

        <!-- Tabla de resultados finales -->
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Total</th>
                        <th>Unidades a Producir</th>
                        <th>Costo Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="total-cost">$0</td>
                        <td id="units-to-produce">0</td>
                        <td id="unit-cost">$0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Modal para seleccionar departamentos -->
    <div id="departmentsModal" class="modal">
        <div class="modal-content">
            <h2>Selecciona los Departamentos</h2>
            <div class="option checkbox-container">
                <label class="checkbox-label"><input type="checkbox" value="Dept1"> Departamento 1</label>
                <label class="checkbox-label"><input type="checkbox" value="Dept2"> Departamento 2</label>
                <label class="checkbox-label"><input type="checkbox" value="Dept3"> Departamento 3</label>
                <label class="checkbox-label"><input type="checkbox" value="Dept4"> Departamento 4</label>
                <label class="checkbox-label"><input type="checkbox" value="Dept5"> Departamento 5</label>
                <label class="checkbox-label"><input type="checkbox" value="Dept6"> Departamento 6</label>
            </div>            
            <div class="option">
                <label>Costos indirectos de fabricación: <input type="number" id="indirectCost" class="small-input" min="0"></label>
                <label>Unidades a producir: <input type="number" id="unitsToProduce" class="small-input" min="1"></label>
            </div>
            <div class="option-btn">
                <button onclick="nextModal()">Siguiente</button>
                <button onclick="closeModal('departmentsModal')">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Modal para ingresar detalles del departamento seleccionado -->
    <div id="departmentDetailsModal" class="modal">
        <div class="modal-content">
            <h2>Detalles del Departamento</h2>
            <div class="option">
                <label>Empleados que participarán: <input type="text" class="small-input" id="employees"></label>
                <label>Costos de fabricación: <input type="number" id="fabricationCost" class="small-input" min="0"></label>
            </div>
            <div class="option-btn">
                <button onclick="saveDepartmentDetails()">Guardar</button>
                <button onclick="closeModal('departmentDetailsModal')">Cancelar</button>
            </div>
        </div>
    </div>
    <script src="../static/js/sidebar.js"></script>
    <script src="../static/js/costoSoftware.js"></script>
</body>
</html>