{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Costos - Software Contable TAS</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/estadosMenu.css' %}">
</head>

<body>
    {% include 'includes/navbar.html' %}
    
    <main class="container-main">
        <section class="categories">
            <h2>Control de Costos</h2>
            <div class="container-categories">
                <div class="cards-categories">
                    <div class="options">
                        <button class="options-button" onclick="costoEmpleados()">
                            Control Costos Empleados
                        </button>
                        <button class="options-button" onclick="costoSoftware()">
                            Control Costos Software
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/costosMenu.js' %}"></script>
</body>
</html>
