{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estados Financieros - Software Contable TAS</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/estadosMenu.css' %}">
</head>

<body>
    {% include 'includes/navbar.html' %}
    <main class="container-main">
        <section class="categories">
            <h2>Estados Financieros</h2>
            <div class="container-categories">
                <div class="cards-categories">
                    <div class="options">
                        <button class="options-button" onclick="balanceComprobacion()">
                            Balance de Comprobación
                        </button>
                        <button class="options-button" onclick="estadoResultados()">
                            Estado de Resultados
                        </button>
                        <button class="options-button" onclick="estadoCapital()">
                            Estado de Capital
                        </button>
                        <button class="options-button" onclick="balanceGeneral()">
                            Balance General
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/estadosFinancieros.js' %}"></script>
</body>

</html>
