<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header class="container-header">
        <div class="content-header">
            <img src="../static/img/logo.webp" alt="logo">
            <h1 class="title">Software Contable TAS</h1>
        </div>
    </header>
    <main class="container-main">
        <section class="categories">
            <h2> CATEGORIAS </h2>
            <div class="container-categories">
                <div class="cards-categories">
                    <h3>Finanzas</h3>
                    <div class="options">
                        <button class="options-button" onclick="estadosfinancieros()">
                            Estados Financieros
                        </button>
                        <button class="options-button" onclick="libromayor()">
                            Libro Mayor
                        </button>
                        <button class="options-button" onclick="cierrecontable()">
                            Cierre Contable
                        </button>
                    </div>
                </div>
                <div class="cards-categories">
                    <h3>Operaciones</h3>
                    <div class="options">
                        <button class="options-button" onclick="catalogo()">
                            Catalogo de Cuentas
                        </button>
                        <button class="options-button" onclick="controlcostos()">
                            Control de Costos
                        </button>
                        <button class="options-button" onclick="transacciones()">
                            Transacciones
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/js/home.js"></script>
</body>
</html>